#images {
	position: relative;
	right: 30%;
}

#topBunImg {
	position: absolute;
}

#letImg {
	position: absolute;		
    top: 10px;
    z-index: -1
}

#tomImg {
	position: absolute;		
    top: 10px;
    z-index: -2;
}

#oniImg {
	position: absolute;		
    top: 5px;
    z-index: -3;
}

#cheImg {
	position: absolute;		
    top: 10px;
    z-index: -4;
}

#beeImg {
	position: absolute;		
    top: 10px;
    z-index: -5;
}

#botBunImg {
	position: absolute;		
    top: 10px;
    z-index: -6;
}




